@charset "utf-8";
/* 태블릿 사이즈 */
@media screen and (min-width: 641px) and (max-width: 1024px){
    #home .left, #home-menu-left .home-menu-wrap, .pageRight{ width: 630px;}
    h1{ font-size: 42px;}
    h2{ font-size: 38px; }
    #main-left-wrap .left-text-wrap h2{ line-height: 42px;}
    #works .right .w-r-top p{ font-size: 28px;}
    #gnb{ display: none; }
    #nav-btn{ left: 580px;}
    .btnRight{ transform: translateX(240px);}
    .pageRight{ width: 630px;}
    #home-menu-left, #home .left, #main-left{ left: 0; }

    #home-menu-left .home-menu-wrap{ background-size: 75%; background-position-y: 30%;}
    #home-menu-left .home-menu-wrap ul{ height: 40%; top: 44%; }
    #home-menu-left ul li a, #sub-menu-wrap ul li a{ font-size: 42px;}
    #sub-menu-wrap{ background-size: 75%; }
    #sub-menu-wrap ul{ top: 55%; left: 47%; width: 40%; height: 40%; }
    
    #home .h-right{ width: 45%; left: 70%; height: 95vh; }
    #home .h-right p{ margin-top: 20px;}
    
    section .right{ margin-left: 380px; }
    
    #about h1::before{ left: -7%; top: 60%; width: 100%;}
    #about .a-r-middle .describe, #about .a-r-bottom .resume, #about .a-r-bottom .skills{ width: 100%; 
    padding-right: 5%;}
    #about .a-r-middle .describe p,
    #about .a-r-bottom .resume p{ font-size: 18px; /* padding-right: 20%;*/}

    #about .a-r-bottom .skills{ display: none;}
    #about .a-r-bottom .mobile-skills{ display: block; width: 100%; margin-top: 10%; }
    #about .a-r-bottom .mobile-skills p.title{ font-size: 38px; text-align: left;}
    #about .a-r-bottom .mobile-skills p.title::after{ left: 0; bottom: 0; width: 100%; }
    #about .a-r-bottom .mobile-skills .m-item{ font-size: 28px;}
    
    #works .right .w-r-bottom .content{ height: 500px; }    
    #works .right .w-r-bottom .content .box{ clear: both; width: 100%; height: 100%; margin-bottom: 20px; }    
    #works .right .w-r-bottom .content:nth-child(odd) .box{ margin-right: 0; }
    #works .right .w-r-bottom .content:nth-child(even) .box{ margin-left: 0; }

    #works .right .w-r-bottom .content .box{ background: none; transform: scale(0.95); }
    #works .right .w-r-bottom .content .box p{ color: #303030; }
    #works .right .w-r-bottom .content .box p.heading{ font-size: 28px;}
    #works .right .w-r-bottom .content .box p.explain{ font-size: 18px; }
    #works .right .w-r-bottom .content .box .bgi{ opacity: 0.5; }
    #contact .right .txt{ height: 220px;}
    #contact .right .txt p{ line-height: 100px;}
    #contact .right .send{ height: 100px;}
    #contact .right .send span{ height: 70%; }
    #contact .right .send span:nth-child(1){ right: 0; }
    #contact .right .send span:nth-child(2){ display: none;}

    #contact .right .mobile-send{ display: block;    }

    #contact .right .qr{ margin-top: 100px;}
}
/* 모바일 사이즈  */
@media screen and (max-width: 640px){
    /* #home .left,
    #main-left .main-left-wrap{ background-color: palevioletred; } */
    #gnb{ display: none; }    
    #nav-btn{ top: 390px; left: 70%; }
    #subBtn{ left: 70%; top: 270px;}
    .btnRight{transform: translateY(120px);}
    .pageRight{ width: 100%;}

    #home-menu-left, #home .left, #main-left{ left: 0; width: 100%;}
    #home-menu-left{ height: 270px; }
    #main-left{ height: auto;}
    /* 메뉴:노란배경 화면 설정 : 크기 설정 */
    #home-menu-left .home-menu-wrap{ height: 440px; background-image: none; }
    #home-menu-left .home-menu-wrap ul{
        width: 100%;
        height: 150%;
        top: 85%;
        left: 45%;
    }
    #home-menu-left .home-menu-wrap ul li a{ font-size: 42px;}

    section{margin-top: 290px;}
    section .right{ margin-left: 0px; top: 50px;}

    #home .left, #sub-menu-wrap{ width: 100%; height: 440px; background-image: none; }
    #home .left .mobile-text{ display: block; padding-top: 10%; padding-left: 10%;}    
    #home .left .mobile-text p,
    #main-left .left-text-wrap .mobile-text p{ font-family: 'Ubuntu Mono', monospace; color: #f4f4f4; 
        font-size: 52px; font-weight: bold; margin-bottom: 5%; }
    #home .left .mobile-text p:nth-child(2){ font-size: 42px; font-weight: 400; }    
    #home .h-right p{ font-size: 20px; margin-top: 10px; line-height: 30px;}    
    #home p.rights{font-size: 14px;}
    #home .h-right{ width: 100%; height: 200px; top: 150px; left: 0; }
    #home .h-right .text-wrap{ transform: rotate(0); width: 90%; left: 5%; top: 20%; }
    #home .h-right .text-wrap h1{ display: none;}

/*  headerSub: about,works,contact 페이지 왼쪽 파란 영역*/
    #main-left p.rights{ color: #f4f4f4; padding-left: 5%; }
    #main-left-wrap { width: 100%; height: 320px;}
    #main-left-wrap h2{ display: none;}
    #main-left-wrap .left-text-wrap .mobile-text{ display: block; padding-top: 5%; padding-left: 5%; }
    #main-left-wrap .left-text-wrap .mobile-text p:nth-child(2){ font-size: 28px; }
    #main-left-wrap .left-text-wrap{ transform: translate(0); text-align: left; }

    /* #sub-menu-wrap{ position: relative;} */
    #sub-menu-wrap{ position: absolute; top: 0;}

    #sub-menu-wrap ul{ width: 100%; height: 100%; }
    #sub-menu-wrap ul li{ line-height: 100px; }
    #sub-menu-wrap ul li a{ font-size: 38px;}

    /* about 영역 */
    #about .a-r-middle .describe p,
    #about .a-r-bottom .resume p{ font-size: 18px; padding-right: 20%;} 
    #about .a-r-bottom .mobile-skills .m-item{ font-size: 14px;}
    h1,
    #about .a-r-bottom .mobile-skills p.title{ font-size: 38px; text-align: left;}
    #about .a-r-middle .face{ display: none;}
    #about .a-r-middle .describe,
    #about .a-r-bottom .resume,
    #about .a-r-bottom .mobile-skills{ width: 100%; margin-top: 10%; }
    #about .a-r-bottom .skills{ display: none;}
    #about h1.title{ text-align: left; padding-left: 20px;}
    #about h1::before{ width: 96%; left: 4%; top: 55%; height: 3px; }
    #about .a-r-bottom .mobile-skills p.title::after{ left: 0; bottom: 0; width: 100%; }

    #about .a-r-bottom{ position: relative; }    
    #about .a-r-bottom .mobile-skills{ position: absolute; display: block; top: 0; }
    #about .a-r-bottom .resume{ position: absolute; top: 500px; margin-bottom: 50px; }
    #modal-container .modal-background .modal img{
        width: 400px;
        height: 565px;
    }

    /* works 영역 */    
    #works .right .w-r-top{ text-align: left; width: 90%; height: 100%; }
    #works .right .w-r-top p{ font-size: 20px; }
    #works .right .w-r-bottom .content{ height: 450px; }    
    #works .right .w-r-bottom .content .box{ clear: both; width: 100%; height: 100%; margin-bottom: 20px; }
    #works .right .w-r-bottom .content:nth-child(odd) .box{ margin-right: 0; }
    #works .right .w-r-bottom .content:nth-child(even) .box{ margin-left: 0; }

    #works .right .w-r-bottom .content .box{ background: none; transform: scale(0.95); }
    #works .right .w-r-bottom .content .box p{ color: #303030; }
    #works .right .w-r-bottom .content .box p.heading{ font-size: 28px;}
    #works .right .w-r-bottom .content .box p.explain{ font-size: 18px; }
    #works .right .w-r-bottom .content .box .bgi{ opacity: 0.5; }

    /* contact 영역 */    
    #contact .right > div{ text-align: left;}
    #contact .right .send span:nth-child(2){ display: none;}
    #contact .right .mobile-send{ display: block; left: 5%; margin-bottom: 30px; }
    #contact .right .qr{ display: none}
    #contact .right .txt{ margin-top: 300px;}
    #contact .right .txt p{ text-transform: uppercase; font-size: 38px;}
    #contact .right .txt p, #contact .right .send span{ line-height: 80px; margin-left: 5%;    }
    #contact .right .send{ height: 100px;}
    #contact .right .send span:nth-child(1){ font-size: 28px; left: 0; }
}