@charset "utf-8";
/* 테블릿 사이즈 */
@media screen and (min-width: 641px) and (max-width: 1024px){
    #home .left, #home-menu-left .home-menu-wrap, .pageRight{ width: 630px;}
    h1{ font-size: 42px;}
    h2{ font-size: 38px; }
    #main-left-wrap .left-text-wrap h2{ line-height: 42px;}
    #works .right .w-r-top p{ font-size: 28px;}
    #gnb{ display: none; }
    #nav-btn{ left: 580px;}
    .btnRight{ transform: translateX(240px);}
    .pageRight{ width: 630px;}
    /* #nav-btn:hover, #subBtn:hover{ animation: none;} */
    #home-menu-left, #home .left, #main-left{ left: 0; }

    #sub-menu-wrap{ background-size: 75%; }
    #home-menu-left .home-menu-wrap ul,
    #sub-menu-wrap ul{ top: 52%; left: 48%; width: 30%; height: 30%; }
    #home .h-right{ width: 45%; left: 70%; height: 95vh; }
    #home .h-right p{ margin-top: 20px;}    
    /* #main-left-wrap .left-text-wrap{ transform: translate(-35%, 250px) rotate(-90deg); } */
    
    section .right{ margin-left: 380px; }
    
    #about h1::before{ left: -7%; top: 60%; width: 100%;}
    #about .a-r-middle .describe, #about .a-r-bottom .resume, #about .a-r-bottom .skills{ width: 100%; margin-top: 10%;}
    #about .a-r-middle .describe p,
    #about .a-r-bottom .resume p{ font-size: 18px; /* padding-right: 20%;*/}
    /* #about .a-r-bottom .skills p.title{ text-align: left;}
    #about .a-r-bottom .skills p.title::after{ left: 0; bottom: -10px; width: 100%; }
    #about .a-r-bottom .skills .item{ font-size: 18px; margin-right: 40%; } */

    #about .a-r-bottom .skills{ display: none;}
    #about .a-r-bottom .mobile-skills{ display: block; width: 100%; margin-top: 10%; }
    #about .a-r-bottom .mobile-skills p.title{ font-size: 38px; text-align: left;}
    #about .a-r-bottom .mobile-skills p.title::after{ left: 0; bottom: 0; width: 100%; }
    #about .a-r-bottom .mobile-skills .m-item{ font-size: 28px;}
    
    #works .right .w-r-bottom .content{ height: 500px; }    
    #works .right .w-r-bottom .content .box{ clear: both; width: 100%; height: 100%; margin-bottom: 20px; }    
    #works .right .w-r-bottom .content:nth-child(odd) .box{ margin-right: 0; }
    #works .right .w-r-bottom .content:nth-child(even) .box{ margin-left: 0; }

    #works .right .w-r-bottom .content .box{ background: none; transform: scale(0.95); }
    #works .right .w-r-bottom .content .box p{ color: #303030; }
    #works .right .w-r-bottom .content .box p.heading{ font-size: 28px;}
    #works .right .w-r-bottom .content .box p.explain{ font-size: 18px; }
    #works .right .w-r-bottom .content .box .bgi{ opacity: 0.5; }
    
    #contact .right .send span:nth-child(2){ top: -25%; }
}
/* 모바일 사이즈  */
@media screen and (max-width: 640px){
    /* #home .left,
    #main-left .main-left-wrap{ background-color: palevioletred; } */
    #gnb{ display: none; }    
    #nav-btn{ top: 390px; left: 70%; }
    #subBtn{ left: 400px; top: 270px;}
    .btnRight{transform: translateY(120px);}
    .pageRight{ width: 100%;}

    #home-menu-left, #home .left, #main-left{ left: 0; width: 100%;}
    #home-menu-left{ height: 270px; }
    #home-menu-left .home-menu-wrap{ width: 640px; height: 440px; 
        /* 메뉴:노란배경 화면 설정 : 크기 설정 */
        background-image: none;
    }
    #home-menu-left .home-menu-wrap ul{
        height: 150%;
        top: 85%;
        left: 45%;
    }
    #home-menu-left .home-menu-wrap ul li a{ font-size: 42px;}

    section{margin-top: 290px;}
    section .right{ margin-left: 0px; }

    #home .left, #sub-menu-wrap{ width: 100%; height: 440px; background-image: none; }
    #home .left .mobile-text{ display: block; padding-top: 10%; padding-left: 10%;}    
    #home .left .mobile-text p,
    #main-left .left-text-wrap .mobile-text p{ font-family: 'Ubuntu Mono', monospace; color: #f4f4f4; 
        font-size: 52px; font-weight: bold; margin-bottom: 5%; }
    #home .left .mobile-text p:nth-child(2){ font-size: 42px; font-weight: 400; }    
    #home .h-right p{ font-size: 20px; margin-top: 10px; line-height: 30px;}    
    #home p.rights{font-size: 14px;}
    #home .h-right{ width: 100%; height: 200px; top: 150px; left: 0; }
    #home .h-right .text-wrap{ transform: rotate(0); width: 90%; left: 5%; top: 20%; }
    #home .h-right .text-wrap h1{ display: none;}

/*  headerSub: about,works,contact 페이지 왼쪽 파란 영역*/
    #main-left p.rights{ color: #f4f4f4; padding-left: 5%; }
    #main-left-wrap { width: 100%; height: 320px;}
    #main-left-wrap h2{ display: none;}
    #main-left-wrap .left-text-wrap .mobile-text{ display: block; padding-top: 5%; padding-left: 5%; }
    #main-left-wrap .left-text-wrap .mobile-text p:nth-child(2){ font-size: 28px; }
    #main-left-wrap .left-text-wrap{ transform: translate(0); text-align: left; }

    #sub-menu-wrap{ position: relative;}
    #sub-menu-wrap ul{ width: 100%; height: 100%; }
    #sub-menu-wrap ul li{ line-height: 100px; }
    #sub-menu-wrap ul li a{ font-size: 38px;}

    /* about 영역 */
    #about .a-r-middle .describe p,
    #about .a-r-bottom .resume p{ font-size: 18px; padding-right: 20%;} 
    #about .a-r-bottom .mobile-skills .m-item{ font-size: 16px;}
    h1,
    #about .a-r-bottom .mobile-skills p.title{ font-size: 38px; text-align: left;}
    #about .a-r-middle .describe,
    #about .a-r-bottom .resume,
    #about .a-r-bottom .skills,
    #about .a-r-bottom .mobile-skills{ width: 100%; margin-top: 10%; }
    #about .a-r-bottom .skills{ display: none;}
    #about .a-r-bottom .mobile-skills{ display: block;}
    #about h1.title{ text-align: left; padding-left: 20px; }
    #about h1::before{ width: 96%; left: 4%; top: 55%; height: 3px; }
    #about .a-r-bottom .mobile-skills p.title::after{ left: 0; bottom: 0; width: 100%; }

    /* works 영역 */    
    #works .right .w-r-top{ text-align: left; width: 90%; height: 100%; }
    #works .right .w-r-top p{ font-size: 20px; }
    #works .right .w-r-bottom .content{ height: 450px; }    
    #works .right .w-r-bottom .content .box{ clear: both; width: 100%; height: 100%; margin-bottom: 20px; }
    #works .right .w-r-bottom .content:nth-child(odd) .box{ margin-right: 0; }
    #works .right .w-r-bottom .content:nth-child(even) .box{ margin-left: 0; }

    #works .right .w-r-bottom .content .box{ background: none; transform: scale(0.95); }
    #works .right .w-r-bottom .content .box p{ color: #303030; }
    #works .right .w-r-bottom .content .box p.heading{ font-size: 28px;}
    #works .right .w-r-bottom .content .box p.explain{ font-size: 18px; }
    #works .right .w-r-bottom .content .box .bgi{ opacity: 0.5; }

}